#oralChess-container {
	position: absolute;
	display: block;
	top: 20px;
	right: 20px;
}

#oralChess-snackbar {
	visibility: hidden;
	min-width: 250px;
	color: #ffffff;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	border-radius: 2px;
	box-shadow: 5px 10px 15px #888888;
	padding: 15px;
	margin-bottom: 15px;
	position: relative;
	z-index: 1;
	opacity: 0.85;
}

#oralChess-snackbar.show {
	visibility: visible;
	animation: fadein 1s, fadeout 1s 2.5s;
}

#oralChess-snackbar.default {
	background-color: blue;
}

#oralChess-snackbar.success {
	background-color: green;
}

#oralChess-snackbar.warning {
	background-color: orange;
}

#oralChess-snackbar.error {
	background-color: red;
}

#oralChess-close {
	color: #aaa;
	margin-top: -5px;
	float: right;
	font-size: 18px;
	font-weight: bold;
}

#oralChess-close:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#oralChess-image {
	width: 20px;
	height: 20px;
	float: left;
}

@keyframes fadein {
	from {
		top: -30px;
		opacity: 0;
	}
	
	to {
		top: 0px;
		opacity: 0.85;
	}
}

@keyframes fadeout {
	from {
		top: 0px;
		opacity: 0.85;
	}

	to {
		top: -30px;
		opacity: 0;
	}
}