body {
	width: 350px;
	display: inline-block;
	background-size: 350px 510px;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;
}

.logo {
	vertical-align: text-bottom;
	width: 30px;
	height: 30px;
	padding-right: 5px;
}

.addonDiv {
	margin-top: 3px;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: 0px 8px 16px 1px rgba(0, 0, 0, 0.4);
	padding: 12px 16px;
	border-radius: 10px;
}

.textToSpeechDiv {
	margin-top: 3px;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: 0px 8px 16px 1px rgba(0, 0, 0, 0.4);
	padding: 12px 16px;
	border-radius: 5px;
}

.arrow {
	width: 0;
	height: 0;
	margin-top: -15px;
	margin-left: 10px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid green;
}

.button {
	display: block;
	text-align: center;
	cursor: pointer;
	outline: none;
	border: none;
	color: white;
	font-size: 15px;
	border-radius: 5px;
	background-color: green;
	box-shadow: 0 3px #999;
	margin-top: 10px;
	width: 150px;
	height: 30px;
}

.addonButton {
	margin-top: 0;
}

.button:active {
	background-color: green;
	box-shadow: inset 6px 6px 10px #444444;
	transform: translateY(1px);
}

.enabled {
	background-color: green;
	box-shadow: inset 3px 3px 10px 1px #444444;
	transform: translateY(1px);
}

.enabled:hover {
	background-color: #3e8e41;
}

.disabled {
	background-color: #cccccc;
	opacity: 0.8;
	color: #666666;
}

.disabled:hover {
	background-color: lightgrey;
}

.div {
	display: flex;
}

.span {
	display: inline-block;
	width: 35px;
	height: 10px;
	border-radius: 10px;
	padding: 8px;
}

.slider {
	flex: 1;
	display: inline-block;
	-webkit-appearance: none;
	height: 10px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 10px;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background: blue;
	cursor: pointer;
}

.valueSpan {
	display: inline-block;
	text-align: center;
	background-color: lightskyblue;
	width: 20px;
	height: 10px;
	border-radius: 10px;
	padding: 8px;
}

.select {
	cursor: pointer;
	display: inline-block;
	outline: none;
	background-color: lightskyblue;
	width: 225px;
	margin-left: 9px;
	overflow: auto;
}

.voiceDiv {
	margin-top: 3px;
}

.notice {
	display: block;
	text-align: center;
	margin: 10px;
	font-size: 15px;
}

.help {
	float: right;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 30px;
	border-style: solid;
	border-width: 1.5px;
	text-align: center;
	font-weigth: bold;
	margin-left: -100px;
	color: black;
	border-color: black;
	opacity: 0.5;
}

.help:hover {
	cursor: pointer;
	opacity: 1;
}