html, body {
	width: 300px;
	display: inline-block;
}

.button {
	display: block;
	text-align: center;
	cursor: pointer;
}

.enabled {
	color: green;
}

.disabled {
	color: red;
}

/* https://codepen.io/seanstopnik/pen/CeLqA */